#logo {
    display: inline-flex;
    float: left;
    width: auto;
}

.container {
    margin: auto;
    padding: auto;
}

#backContainer>p {
    display: inline;
}

#backBtn {
    display: inline;
}

.border-top {
    margin-top: 50px;
}

/* small */
@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .card {
        width: 100%;
    }
}

/* medium */
@media screen and (max-width: 900px) {
    #logo {
        display: none;
    }

    .card {
        width: 100%;
    }
}