#logo {
    display: inline-flex;
    float: left;
    width: auto;
}

/* small */
@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .card {
        width: 100%;
    }
}

/* medium */
@media screen and (max-width: 900px) {
    #logo {
        display: none;
    }

    .card {
        width: 100%;
    }
}