#logo {
    display: inline-flex;
    float: left;
    width: auto;
}

#search-bar {
    display: show;
}

.card {
    width: 50%;
    margin: 5px auto;
    float: none;
    margin-bottom: 50px;
    padding: 20px;
}

/* from mt project */

/* small */
@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .card {
        width: 100%;
    }
}

/* medium */
@media screen and (max-width: 900px) {
    #logo {
        display: none;
    }

    .card {
        width: 100%;
    }
}